/* You can add global styles to this file, and also import other style files */
:root {
  --toastnotify-warning: #ff8800;
  --toastnotify-danger: #ff4444;
  --toastnotify-success: #00c851;
}

body {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

#appContainer {
  padding: 1rem;
}

input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.6em 1em;
  margin: 0;
}

input.ng-touched.ng-invalid {
  border-color: red;
}

.arrow {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  transition: 80ms;
  padding: 3px;
}

.right {
  float: right;
}

.left {
  float: left;
}
